# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*.local

# Logs
logs/
*.log

# Build / Coverage
dist/
build/
coverage/
tmp/
.cache/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Archives
*.tgz

# Project-specific user files
JS_Learn_Everything.pdf
js learn everything/
js learn everthing/

# Misc
.nyc_output/
coverage/
